@media (max-width: 1540px) {
}
@media (max-width: 1199px) {
	body{
		min-width: 100%;
	}
	.logo img{
		width: calc( 100vw - 40px );
		width: -webkit-calc( 100vw - 40px );
		text-align:left;
	}
	.logo {
		text-align:left;
	}
}
	
@media (max-width: 1120px) {
	.good-info{
		top: 20px;
		left: 20px;
	}
	.section {
		font-size: 18px;
	}
	.section-i{
		padding: 20px;
	}
	.good__callout{
		font-size: 14px;
	}
	.good__callout_table_1 {
		right: -258px;
	}
	.good__callout_table_2 {
		left: -213px;
	}
	.good__callout_table_3 {
		right: -243px;
	}
	.good__callout_chair_1 {
		right: -247px;
	}
	.good__callout_chair_2 {
		left: -237px;
	}
	.gallery_good{
		z-index: 77;
	}
	.good__callout_table_1 ::before, .good__callout_table_2 ::before, .good__callout_table_3 ::before{
		z-index: 67;
	}
	.good-info {
		max-width: 250px;
	}
}
@media (max-width: 950px) {
	.section {
		font-size: 16px;
	}
	.good-info__text {
		margin-bottom: 30px;
	}
	.good {
		width: 350px;
		height: 350px;
	}
	.good::before {
		top: -135px;
		left: -135px;
        background: transparent url("../images/shadow.png") no-repeat scroll 0% 0%;
        background-size: 620px 620px;
	}
	.good__callout_sofa_1 {
		right: -254px;
	}
	.good__callout_sofa_2 {
		left: -235px;
	}
}
@media (max-width: 900px) {
	.good-info {
		max-width: 200px;
	}
	.good__callout {
        max-width: 200px;
	}
	.good__callout_table_1 {
		right: -200px;
		top: -82px;
	}
	.good__callout_table_1::before{
		left: -158px;
	}
	.good__callout_table_2::before{
		right: -128px;
	}
	.good__callout_table_3 {
		right: -203px;
		bottom: -67px;
	}
	.good__callout_table_3::before{
		top: -17px;
	}
	.good__callout_chair_1 {
		right: -197px;
		top: -92px;
	}
	.good__callout_chair_1::before {
		left: -115px;
	}
	.good__callout_chair_2 {
		left: -207px;
	}
	.good__callout_chair_2::before {
		right: -54px;
	}
	.good__callout_sofa_1 {
		right: -204px;
		top: -118px;
	}
	.good__callout_sofa_1::before {
		left: -140px;
		top: 30px;
	}
	.good__callout_sofa_2 {
		left: -205px;
		bottom: -68px;
	}
	.good__callout_sofa_2::before {
		right: -84px;
	}
	.section-text {
		max-width: 700px;
	}
}
@media (max-width: 790px) {
	.good {
		width: 250px;
		height: 250px;
	}
	.good::before {
		top: -95px;
		left: -95px;
		background-size: 440px 440px;
	}
	.section-text {
		max-width: 570px;
	}
	.gallery__nav_prev {
		left: -35px;
	}
	.gallery__nav_next {
		right: -35px;
	}
	.gallery {
		width: 500px;
		height: 300px;
	}
}
	

@media (max-width: 720px) {
	.good-info {
		max-width: 190px;
	}
}
@media (max-width: 660px) {
	.section-text {
		max-width: 500px;
	}
	.good-info {
		max-width: calc( 100vw - 40px );
		max-width: -webkit-calc( 100vw - 40px );
	}
	.good-info__meta {
		margin-bottom: 5px;
	}
	.info__text {
		margin-bottom: 10px;
	}
	.good-info {
		max-width: calc( 100vw - 40px );
		max-width: -webkit-calc( 100vw - 40px );
	}
	.good {
		right: calc(50vw - 185px);
		right: -webkit-calc(50vw - 185px);
		top: calc(50vh - 145px);
		top: -webkit-calc(50vh - 145px);
	}
	.good__callout {
		max-width: 250px;
	}
	.good__callout_table_2 {
		top: 32px;
	}
	.good__callout_table_3 {
		top: 132px;
	}
	.good__callout_table_1::before, .good__callout_table_2::before, .good__callout_table_3::before, .good__callout_chair_1::before, .good__callout_chair_2::before, .good__callout_sofa_1::before, .good__callout_sofa_2::before{
		display:none;
	}
	.good__callout_sofa_1{
		top: -78px;
	}
	.good__callout_sofa_2{
		top: 90px;
	}
	.good__callout_chair_2{
		top: 60px;
	}
	.good {
		width: 200px;
		height: 200px;
		right: calc(50vw - 145px);
	}
	.good::before {
		top: -75px;
		left: -75px;
		background-size: 350px 350px;
	}
	.good__callout_table_1, .good__callout_table_2, .good__callout_table_3, .good__callout_chair_1, .good__callout_chair_2, .good__callout_sofa_1 , .good__callout_sofa_2{
		left: unset;
		bottom: unset;
		right: calc(( 100vw - 280px ) *-1 );
	}
}
@media (min-width: 561px) {
}
@media (max-width: 560px) {
	html {
		overflow: scroll;
	}
	body{
		overflow: hidden;
	}
	.gallery {
		width: 400px;
		height: 200px;
	}
	#home .section-text {
		padding-top: 100px;
	}
	.section-text {
		max-width: calc( 100vw - 100px );
	}
	.good-info{
		width: calc( 100vw - 40px );
		margin: 20px;
		position: unset;
	}
	.section-i{
		display: block;
		padding: 20px;
	}
	.good {
		top: unset;
		right: unset;
		height: auto !important;
		width: auto !important;
	}	
	.gallery{
		height: 200px !important;
		width: 200px !important;
	}
	.good__callout_table_1, .good__callout_table_2, .good__callout_table_3, .good__callout_chair_1, .good__callout_chair_2, .good__callout_sofa_1, .good__callout_sofa_2{
		right: unset;
		top: unset;
		position: unset;
		max-width: 100%;
		margin-top: 20px;
	}
	.good::before {
		top: -79px;
		left: calc(( 100vw / 2 ) - 203px );
		background-size: 365px 365px;
	}
	.navbar, .next-button{
		display:none !important;
	}
	section#photos.section.section_dark, section#videos.section, section#contacts.section.section_dark{
		height: auto !important;
	}
}
	
@media (max-width: 520px) {
}
@media (max-width: 480px) {
}
@media (max-width: 459px) {
	.section-text__phone{
		font-size: 35px;
	}
}
	
@media (max-width: 420px) {
	.section-text__phone{
		font-size: 30px;
	}
}
	
@media (max-width: 390px) {
}
@media (max-width: 360px) {
	.section-text__phone{
		font-size: 25px;
	}
}