@font-face {
    font-family: 'futurabookcregular';
    src: url('../fonts/futurabookc-webfont.eot');
    src: url('../fonts/futurabookc-webfont.eot') format('embedded-opentype'),
         url('../fonts/futurabookc-webfont.woff') format('woff'),
         url('../fonts/futurabookc-webfont.ttf') format('truetype'),
         url('../fonts/futurabookc-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurademicregular';
    src: url('../fonts/futurademic-webfont.eot');
    src: url('../fonts/futurademic-webfont.eot') format('embedded-opentype'),
         url('../fonts/futurademic-webfont.woff') format('woff'),
         url('../fonts/futurademic-webfont.ttf') format('truetype'),
         url('../fonts/futurademic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
sup,
sub,
small,
code {
  line-height: 0;
}
img {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
a img,
a.img {
  border: none !important;
  background-image: none !important;
}
abbr {
  border-bottom: none;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
  zoom: 1;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
a:hover,
a:active {
  outline: 0;
}
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.no-touch a[href^=tel]:link,
.no-touch a[href^=tel]:visited,
.no-touch a[href^=tel]:hover,
.no-touch a[href^=tel]:active,
.no-touch a[href^=tel]:focus {
  position: inherit;
  text-decoration: inherit;
  border: inherit;
  color: inherit;
  background-image: none;
  cursor: default;
}
html {
  font-size: 62.5%;
  overflow: hidden;
}
body {
  background: #fff;
  color: #222;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}
* {
  font-family: futurabookcregular, sans-serif, sans-serif;
}
a {
  text-decoration: underline;
  -webkit-transition: border 0.1s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
  -moz-transition: border 0.1s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
  -o-transition: border 0.1s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
  -ms-transition: border 0.1s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
  transition: border 0.1s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
}
a:link,
nav a:visited {
  color: #222;
}
a:visited {
  color: #222;
}
a:hover,
a:active,
a:focus,
nav a:hover,
nav a:active,
nav a:focus {
  color: #666;
}
a:active {
  position: relative;
  top: 1px;
}
::-moz-selection {
  color: #222;
  background: #faedb1;
  text-shadow: none;
}
::selection {
  color: #222;
  background: #faedb1;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}
.alpha,
.section-text__phone,
.good-info__title,
.gallery-title {
  font-family: futurademicregular, sans-serif;
  font-size: 40px;
  font-weight: normal;
}
.beta,
.section-text__title,
.good__callout__title {
  font-family: futurademicregular, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.section {
  display: table;
  position: relative;
  width: 100%;
  font-family: futurabookcregular, sans-serif;
  font-size: 20px;
  background: #d9d9d9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7e7e7), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #ccc 100%);
  background: -moz-linear-gradient(top, #e7e7e7 0%, #ccc 100%);
  background: -o-linear-gradient(top, #e7e7e7 0%, #ccc 100%);
  background: -ms-linear-gradient(top, #e7e7e7 0%, #ccc 100%);
  background: linear-gradient(top, #e7e7e7 0%, #ccc 100%);
}
.section-i {
  display: table-cell;
  width: 100%;
  padding: 60px;
  vertical-align: middle;
  text-align: center;
}
.section_dark {
  background: #1c1c1c url("../images/background-black.jpg") center center;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  color: #eee;
}
.section_quality {
  background: #f0f0f0 url("../images/background-quality.jpg") no-repeat center bottom;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.navbar {
  position: fixed;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar__item {
  display: block;
  padding: 5px;
}
.navbar__item i {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
  border: 2px solid #222;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.navbar__item:hover i,
.navbar__item.is-active i {
  background: #222;
}
.navbar__item.is-active {
  cursor: default;
}
.page_mod_dark .navbar__item i {
  border-color: #eee;
}
.page_mod_dark .navbar__item:hover i,
.page_mod_dark .navbar__item.is-active i {
  background: #eee;
}
.next-button {
  background: url("../images/sprite.png") -1px -181px;
  content: "";
  width: 1120px;
  height: 51px;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: -560px;
  padding-top: 12px;
  z-index: 1000;
}
.page_mod_dark .next-button {
  background-position: -1px -121px;
}
.next-button__link {
  display: block;
  width: 146px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
}
.page_mod_last .next-button__link {
  background: url("../images/sprite.png") -1161px -121px;
  content: "";
  width: 146px;
  height: 40px;
}
.separator {
  background: url("../images/sprite.png") -1px -1px;
  content: "";
  width: 105px;
  height: 5px;
  margin: 0 auto 30px;
  border: 0;
}
.section_dark .separator {
  background-position: -1px -21px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
}
.logo img {
  vertical-align: top;
}
.section-text {
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.8;
}
.section-text__title {
  margin-bottom: 40px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.section-text__phone {
  margin-bottom: 40px;
  line-height: 1;
}
.section-text__link a:link,
.section-text__link a:visited {
  font-family: futurademicregular, sans-serif;
  color: #eee;
}
.section-text__link a:hover,
.section-text__link a:active,
.section-text__link a:focus {
  color: #fff;
}
@media (min-width: 1800px) {
  .section-text {
    font-size: 30px;
  }
  .section-text__title,
  .section-text__phone {
    font-size: 36px;
  }
}
.social-links {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.social-links__link {
  display: block;
  background-image: url("../images/sprite.png");
  width: 16px;
  height: 16px;
  margin: 10px 0;
}
.social-links__link_twitter {
  background-position: -1121px -121px;
}
.social-links__link_facebook {
  background-position: -1121px -141px;
}
.social-links__link_vkontakte {
  background-position: -1121px -161px;
}
.good-info {
  position: absolute;
  top: 60px;
  left: 60px;
  max-width: 300px;
  text-align: left;
  line-height: 1.4;
}
.good-info__title {
  margin-bottom: 15px;
  line-height: 1;
}
.good-info__kind {
  font-family: futurademicregular, sans-serif;
  font-size: 13px;
}
.good-info__meta {
  margin-bottom: 15px;
  font-size: 13px;
}
.good-info__text {
  margin-bottom: 50px;
}
@media (min-width: 1800px) {
  .good-info {
    font-size: 24px;
  }
  .good-info__title {
    font-size: 60px;
  }
  .good-info__kind,
  .good-info__meta {
    font-size: 16px;
  }
}
.gallery {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto 10px;
}
.gallery-i {
  overflow: hidden;
}
.gallery__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.gallery__img iframe,
.gallery__img img {
  display: block;
  margin: 0 auto;
}
.gallery_video {
  height: 350px;
}
.gallery_good,
.gallery_good .gallery__img {
  width: 100% !important;
  height: 100% !important;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.gallery__nav {
  background: url("../images/sprite.png") -1px -41px;
  content: "";
  width: 20px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.gallery__nav_prev {
  left: -65px;
}
.gallery__nav_next {
  background-position: -41px -41px;
  right: -65px;
}
.is-gallery-last .gallery__nav_next,
.is-gallery-first .gallery__nav_prev {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: default;
}
.section_dark .gallery__nav_prev {
  background-position: -1px -81px;
}
.section_dark .gallery__nav_next {
  background-position: -41px -81px;
}
@media (min-width: 1800px) {
  .gallery_good,
  .gallery_good .gallery__img {
    -webkit-border-radius: 355px;
    border-radius: 355px;
  }
}
.gallery-title {
  margin-bottom: 50px;
}
.gallery-counter {
  font-size: 12px;
}
.good {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 4px;
  margin: 0 auto;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.good:before {
  content: "";
  position: absolute;
  top: -155px;
  left: -155px;
  width: 710px;
  height: 710px;
  background: url("../images/shadow.png");
}
.good__callout {
  position: absolute;
  max-width: 270px;
  font-size: 16px;
  line-height: 1.4;
}
.good__callout__title {
  margin-bottom: 5px;
  line-height: 1;
}
.good__callout:before {
  content: "";
  position: absolute;
  background-image: url("../images/sprite.png");
}
.good__callout_table_1 {
  top: -12px;
  right: -358px;
}
.good__callout_table_1:before {
  background-position: -121px -1px;
  top: 10px;
  left: -118px;
  width: 162px;
  height: 100px;
}
.good__callout_table_2 {
  bottom: -72px;
  left: -313px;
}
.good__callout_table_2:before {
  background-position: -321px -1px;
  top: -54px;
  right: -88px;
  width: 136px;
  height: 71px;
}
.good__callout_table_3 {
  bottom: -32px;
  right: -343px;
}
.good__callout_table_3:before {
  background-position: -481px -1px;
  top: -27px;
  left: -108px;
  width: 115px;
  height: 42px;
}
.good__callout_chair_1 {
  top: -42px;
  right: -347px;
}
.good__callout_chair_1:before {
  background-position: -641px -1px;
  top: 10px;
  left: -140px;
  width: 145px;
  height: 89px;
}
.good__callout_chair_2 {
  bottom: -74px;
  left: -337px;
}
.good__callout_chair_2:before {
  background-position: -801px -1px;
  top: -38px;
  right: -94px;
  width: 92px;
  height: 54px;
}
.good__callout_sofa_1 {
  top: -48px;
  right: -300px;
}
.good__callout_sofa_1:before {
  background-position: -641px -1px;
  top: 10px;
  left: -100px;
  width: 145px;
  height: 89px;
}
.good__callout_sofa_2 {
  bottom: -48px;
  left: -285px;
}
.good__callout_sofa_2:before {
  background-position: -801px -1px;
  top: -38px;
  right: -54px;
  width: 92px;
  height: 54px;
}
@media (min-width: 1800px) {
  .good {
    width: 720px;
    height: 720px;
    padding: 5px;
  }
  .good:before {
    top: -196px;
    left: -196px;
    width: 1110px;
    height: 1110px;
    background: url("../images/shadow_hd.png");
  }
  .good__callout_table_1 {
    right: -275px;
  }
  .good__callout_table_2 {
    left: -219px;
  }
  .good__callout_table_3 {
    right: -256px;
  }
  .good__callout_chair_1 {
    right: -243px;
  }
  .good__callout_chair_2 {
    left: -255px;
  }
  .good__callout_sofa_1 {
    top: -22px;
    right: -231px;
  }
  .good__callout_sofa_2 {
    left: -196px;
  }
}
.good-changer {
  font: 0/0 a;
}
.good-changer li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.js .good-changer li {
  cursor: pointer;
}
.is-shown {
  display: block;
  opacity: 1;
  filter: none;
}